manifest {
  // Read more at https://www.nextflow.io/docs/latest/config.html#config-manifest
  author = 'Unseen Biometrics ApS'
  description = ''
  homePage = 'https://unseenbio.com'
  name = 'shotgun-qc-nf'
  nextflowVersion = '!20.04+'
  version = '0.1.0'
}

params.tracedir = 'info'

profiles {
  conda {
    // Read more at https://www.nextflow.io/docs/latest/conda.html
    process.conda = 'environment.yml'
  }
  docker {
    // Read more at https://www.nextflow.io/docs/latest/docker.html
    process.container = ''
    docker.enabled = true
  }
}

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}
